{% extends "base.html.twig" %}
{% block imgurl %}pexels-thought-catalog-2228583.jpg{% endblock %}

{% block content %}
        {% if msg != null %}
        <div class="messagebox">{{msg}}</div>
        {% endif %}
        </div> 
    <header class = "header">
    <a href="acceuil.php"><img class ="imgheader1" src="img/image-removebg-preview 2.png" alt="Logo accord energie ">
    <a href="logout.php"><img class ="imgheader2"src="img/img_logout.png" alt="Logo paramètre " ></a>
    <a href="profile.php"><img class ="imgheader3"src="img/image 18.png" alt="Logo page profile" ></a>
</header>
    <main>
        <form action="" method ="post" class="row g-3 formintervention">
         <h1 class="text-center" ><strong> Formulaire d'intervention</strong></h1>
        <div class="col-md-6">
            <label for="titre_intervention" class="form-label" >Titre d'intervention  :</label>
            <input type="text"
                        required="required"
                        class="form-control"
                        id="titre_intervention_form"
                        name="titre_intervention_form"
                        value="{{titre}}">
        </div>
       <div class="row g-2">
            <div class="col-sm-4">
                <label for="date_intervnetion" class="form-label">Date d'intervention:</label>
                <input type="date" 
                       name="date_intervnetion" 
                       id="date_intervnetion"
                       required="required"
                       class="form-control"
                       value="{{date}}">
            </div>
            <div class="col-sm-4"> 
                <label for="heure_dispo" class="form-label">Heure de disponibilité:</label>
                <input type="time" 
                       name="heure_dispo" 
                       id="heure_dispo"
                       class="form-control"
                       required="required"
                       value="{{heure}}">
            </div>
        </div>
        
    <div class="row g-2">
            <div class="col-sm-7">
                <label for="adresse" class="form-label">Adresse de l’intervention :</label>
                <input type="text" 
                       name="adresse"
                       id="adresse"
                       class="form-control"
                       required="required"
                       value="{{adresse}}">
            </div>
            <div class="col-sm">
                <label for="ville" class="form-label">Ville :</label>
                <input type="text" 
                       name="ville"
                       id="ville"
                       class="form-control"
                       required="required"
                       value="{{ville}}">
            </div>
            <div class="col-sm">
                <label for="codepostal" class="form-label">Code Postal :</label>
                <input type="text" 
                       name="codepostal"
                       id="codepostal"
                       class="form-control"
                       required="required"
                       value="{{codepostal}}">
            </div>
    </div>

        <div class="row g-2">
            <div class="col-sm-4">
                <label for="ugence" class="form-label">Etat d'urgence:</label>
                <select  id="urgence" name="urgence" class="form-select" required="required">
                    {% for urg in toto1 %}
                  <option value="{{urg['urgence_ID']}}">{{urg['type_urgence']}}</option>
                    {% endfor %}
                </select>
            </div>
              <div class="col-sm-4">
                <label for="ugence" class="form-label">Statuts:</label>
                <select  id="statut" name="statut" class="form-select" required="required">
                {% for st in toto %}
                  <option value="{{st['statutID']}}">{{st['typeStatut']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4">
                <label for="pays" class="form-label">Pays:</label>
                <input type="text" 
                            name="pays"
                            id="pays"
                            class="form-control"
                            required="required"
                            value="{{pays}}">
            </div>
        </div>    
        <div class="d-grid gap-1 col-4 mx-auto row g-2">
        <input type="submit" name="envoyer" value="Envoyer" class="btn btn-dark">
        </div>
    </form>
    </main>
{% endblock %}